@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050505;
  /* Blacker background */
  --foreground: #ededed;
  --border: #222;
  --accent: #10b981;
  /* Emerald-500 */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
  /* Force tech feel */
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Custom Range Slider Styling */
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 14px;
  width: 14px;
  border-radius: 0px;
  /* Square thumb for tech feel */
  background: var(--accent);
  cursor: pointer;
  margin-top: -6px;
  /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #333;
}

/* Utilities */
.border-theme {
  border-color: var(--border);
}

.bg-theme-surface {
  background-color: #0a0a0a;
}